[Desktop Entry]
Version=1.0
Name=Cytopia
GenericName=Data analytics platform
Comment=Data analytics, reporting and integration platform
Exec=Cytopia %U
Terminal=false
Type=Application
Icon=net.cytopia.Cytopia
Categories=Development;Education;Science;
