<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="offline" value="nuget-sources" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="offline">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
